[submodule "mintbase-near-indexer"]
	path = mintbase-near-indexer
	url = https://github.com/Mintbase/mintbase-near-indexer
	branch = master
[submodule "simple-market-contract"]
	path = simple-market-contract
	url = https://github.com/Mintbase/simple-market-contract
	branch = master
[submodule "mintbase-core-docs"]
	path = mintbase-core-docs
	url = https://github.com/Mintbase/mintbase-core-docs
	branch = master
