[submodule "mintbase-near-indexer"]
	path = mintbase-near-indexer
	url = https://github.com/Mintbase/mintbase-near-indexer
	branch = main
[submodule "simple-market-contract"]
	path = simple-market-contract
	url = https://github.com/Mintbase/simple-market-contract
	branch = master
